@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.main{
  padding:0 4rem;
}

@media screen and (max-width: 768px) {
  .main{
    padding:0 1rem;
  }
  
}